.logo {
    height: 80px;
}

.no-underline {
    text-decoration: none;
}

@media (max-width: 900px) {
    .logo{
        height: 40px;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h1 {
    font-family: "Lucida Handwriting";
}

h3 {
    font-family: "Lucida Console";
}
