.logo {
    height: 80px;
}

.no-underline {
    text-decoration: none;
}

.header-font {
    font-family: "Lucida Handwriting";
}

@media (max-width: 900px) {
    .logo{
        height: 40px;
    }
}