.logo {
    height: 80px;
}

.no-underline {
    text-decoration: none;
}

.lucida-hw-font {
    font-family: "Lucida Handwriting";
}

.navbar-font-edit {
    font-family: "Lucida Console";
    font-size: large;
}

@media (max-width: 900px) {
    .logo{
        height: 40px;
    }
}