.logo {
    height: 80px;
}

.no-underline {
    text-decoration: none;
}

@media (max-width: 900px) {
    .logo{
        height: 40px;
    }
}

.center-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h1 {
    color: saddlebrown;
    font-family: "Lucida Handwriting";
    font-size: 4vw;

}

h2, h3 {
    font-weight: bold;
    color: saddlebrown;
    font-family: "Lucida Console";
}

h5 {
    font-family: "Lucida Sans Unicode";
}

.post-padding {
    padding: 30px 0px 20px;
}

.post-image {
    width: 200px;
    height: 250px;
}

.center {
    text-align: center;
}

.center-left {
    text-align: left;
}

.icon-size {
    width: 30px;
    height: 30px;
}

.change-color-to-brown{
    text-decoration: none;
    color: saddlebrown;
}

.button {
    color: saddlebrown;
    font-weight: bold;
    border: saddlebrown;
}

.button:hover {
    background-color: saddlebrown;
    color: white;
    font-weight: bold;
}


.submit {
    background-color: saddlebrown;
    color: white;
    font-weight: bold;
}

.contact-labels {
    font-weight: bold;
    background-color: saddlebrown;
    border: saddlebrown;
}

.padding {
    padding-top: 22px;
}

.prevent-select {
    -webkit-user-select: none;
}

img {
    pointer-events: none
}

.center-button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.small-icon {
    width: 40px;
    height: 40px;
}